@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Noto+Sans+JP&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap');

:root{
  --monst: 'Montserrat', sans-serif;
  --noto: 'Noto Sans JP', sans-serif;
  --wolf : 'Work Sans', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--wolf);
}
body{
  background-color: #f5f6f7;
}
.bars{
  color: white;
  font-size: 22px;
  display: none;
  cursor: pointer;
}
.bars:hover{
  color:snow;
}
.preview_img{
  max-height: 250px;
  max-width:450px;
  object-fit: cover;
}
.product_img{
  height: 50px;
  max-width: 120px;
  object-fit:cover;
}
.sidebar{
  height: 100%;
  position: fixed;
  background-color: #171627;
  z-index: 89;
}
.sidebar a{
  color: white;
  margin-top: 10px;
  padding: 8px 13px;

}
.sidebar a:hover{
  color: wheat;
  background-color: #22213b;
  z-index: 1;
}
.active{
  background-color: #22213b;
}
.input-div{
  position: relative;
  margin-top: 30px;
}
.search-icon{
  position: absolute;
  top: 14px;
  left: 8px;
  z-index: 10;
  color: white;
}
.input-search{
 width: 60%;
 background-color: #22213b;
 border: none;
 padding:10px 30px;
 color: white;
 border-radius: 5px;
}
.input-search:focus{
  outline: none;
}
i{
  cursor: pointer;
}
.form-control{
  background-color:#252446;
  border: none;
  padding: 17px 12px;
  color: white;
}
.form-control:focus{
  background-color: #292647;
  color: white;
}
/* buttons */
.btns{
  padding: 10px;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  
}
.delete{
  background-color: rgb(225, 51, 83);
}
.delete:hover{
  background-color: rgb(240, 54, 88);
}
.edit{
  background-color: rgb(118, 51, 225);
}
.edit:hover{
  background-color: rgb(132, 67, 236);
}
.back{
  background-color: #22213b;
  color: white;
}
.back:hover{
  background-color: #2b2a48;
  color: white;
}
.success{
  background-color: #22213b;
  color: white;
  padding: 13px 20px;
  position: fixed;
  opacity: .8;
  z-index: 20;
  right:10px;
  bottom: 20px;
}
.cards{
  background-color: #2f2d4e;
  color: whitesmoke;
}
.form-edit{
  position:relative;
  margin-top: 20px;
}
a{
  color:white;
}
a:hover{
  text-decoration: none;
  color: wheat;
}
.total{
  color: white;
  padding: 20px;

}
.total:first-child{
  background: blueviolet;
}
.total:nth-child(2){
  background: rgb(199, 13, 216);
}
.total:last-child{
  background: rgb(230, 9, 101);
}

.total h3{
  font-weight: 1000;
  color: #e9e7fd;
  font-family: var(--monst);
}

.notfound{
  display: flex;
  height: 100vh;
  font-family: var(--noto);
  justify-content: center;
  align-items: center;
  position: relative;
}
.four{
  font-size: 250px;
  font-family: var(--noto);
  font-weight: 700;
  color: rgb(235, 18, 108);

}
.notfound h2{
  color: #292647;
  font-size: 40px;
  font-weight: 600;
}

@media only screen and (max-width: 830px) {
  .sidebar{
    height: auto;
    padding-bottom: 20px;
    
  }
  .bars{
    display: block;
  }
  .input-search{
    width: 100%;
   
   }

}
